<div class="col-md-9 col-md-offset-3">
  <h4><%= entry.title %></h4>
  <p><%= simple_format(h(entry.body)) %></p>
  <% if is_entry_owner?(entry) %>
    <%= link_to t('edit'), edit_entry_path(entry) %>
    | <%= link_to t('delete'), entry_path(entry), method: :delete, data: { confirm: t('confirm_delete') } %>
  <% end %>
  <hr>
</div>
