<% if object.errors.any? %>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only"><%= t('error_prefix') %></span><%= t('form_contains')%><%= pluralize(object.errors.count, "error") %>. <br>
  <% object.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</div>
<% end %>
