<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <%= link_to t('create_entry'), new_entry_path, role: "button", class: "btn btn-primary btn-lg center-block" %>
  </div>
</div>
<!--
  TODO: modalで表示する　http://getbootstrap.com/javascript/#modals
-->
