<div class="col-md-2 col-md-offset-10">
  <%= link_to t('create_entry'), new_entry_path, role: "button", class: "btn btn-primary btn-lg center-block" %>
</div>
<!--
  TODO: modalで表示する　http://getbootstrap.com/javascript/#modals
-->
