<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'shared/user_thumbnail', user: @user %>
  <div class="col-md-9">
    <div class="page-header">
      <h1><%= t('entries') %></h1>
    </div>
  </div>
  <% unless @entries.nil? %>
    <%=render @entries %>
    <%= will_paginate @entries %>
  <% end %>
</div>
